<template name="mapMain">
{{#if currentUser}}

  {{#unless haveMark}}
    <div class="ui grid">
    <div class="sixteen wide column"></div>
    <div class="ten wide column">
      <div class="map-container">
        {{>mapPage}}
        <br><br>
      </div>
      <!-- map-container end -->
    </div>
    <div class="six wide column">
      {{#each posts}}
          {{>postItem}}
      {{/each}}

    </div>
  </div>

  {{else}}
    <div class="map-container">
      {{>mapPage}}
    </div>

  <div class="ui grid">
    <div class="sixteen wide column">

      <div class="ten wide column map-container">
        hi
        <!-- <div class="map-container"> -->
          <div style="display: none">
            <div id="info-content">
              <table>
                <tr id="iw-url-row" class="iw_table_row">
                  <td id="iw-icon" class="iw_table_icon"></td>
                  <td id="iw-url"></td>
                </tr>
                <tr id="iw-address-row" class="iw_table_row">
                  <td class="iw_attribute_name">Address:</td>
                  <td id="iw-address"></td>
                </tr>
                <tr id="iw-phone-row" class="iw_table_row">
                  <td class="iw_attribute_name">Telephone:</td>
                  <td id="iw-phone"></td>
                </tr>
                <tr id="iw-rating-row" class="iw_table_row">
                  <td class="iw_attribute_name">Rating:</td>
                  <td id="iw-rating"></td>
                </tr>
                <tr id="iw-website-row" class="iw_table_row">
                  <td class="iw_attribute_name">Website:</td>
                  <td id="iw-website"></td>
                </tr>
              </table>
            </div>
          </div>

        <!-- </div> -->
        <!-- map-container end -->
      </div>

      <div class="six wide column">
        hi
      <!-- Card Personal-->
        {{#each posts}}
         <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{_id}}">
                <h4 class="panel-title">

                  <!-- <div class="row"> -->
                    <!-- <div class="col-xs-10"> -->
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{_id}}" aria-expanded="true" aria-controls="{{_id}}">{{firstName}} {{lastName}}</a>
                    <!-- </div> -->
                    <!-- <div class="col-xs-2"> -->
                      <button class="btn btn-primary btn-s btn-right"><span class="glyphicon glyphicon-ok"></span></button>
                    <!-- </div> -->
                  <!-- </div> -->

                </h4>
              </div>
              <div class="row">
                <div id={{_id}} class="panel-collapse collapse in">
                  <div class="col-xs-7">

                          {{> postItem}}

                        <div id="listing">
                         <table id="resultsTable">
                           <tbody id="results">
                           </tbody>
                         </table>
                       </div>
                  </div>

                  <div class="col-xs-5">
                    <img src="iron_man.jpg" class="photo">
                  </div>

              </div>
            </div>


            </div>
          </div>
          {{/each}}
        <!-- Card Personal-->
      </div>
      <!-- end post -->
    </div>
  </div>

  {{/unless}}


  <br>
{{else}}
<center><h1>Please  <a href="/">login</a> </h1></center>
{{/if}}
</template>
