<template name="upload">

  <input type="file" id="fileInput" style="display:none">
  <div class="ui fullscreen modal" >
    <div class="ui center aligned segment huge header" style="background:#F2F4F4">
      <p style="font-size:72px; background:#D4E6F1">Upload</p>
    </div>
    <div class="content" style="background:#F2F4F4">
      <div class="ui center aligned segment" style="background:#D4E6F1">
        <br>
        {{#with currentUpload}}

          <label class="circular ui icon button" style="color:#5DADE2; background:#1A5276;">
            <i class="massive icons">
              <i class="huge loading circle notched icon"></i>
              <i class="big cloud upload icon"></i>
            </i>
            </label>
          <br><br>
          <p style="font-size:36px;">{{file.name}}</p>
          <p style="font-size:36px;">Uploading Files : {{progress.get}}%</p>

          <!-- <div class="ui indicating progress" data-value="{{progress.get}}" data-total="100" id="ex">
            <div class="bar">
              <div class="progress"></div>
            </div>
            <div class="label">Uploading Files {{progress.get}}%</div>
          </div> -->

        {{else}}

          <label for="fileInput" class="circular ui icon button" style="color:#5DADE2; background:#1A5276;">
            <i class="massive icons">
              <i class="huge circle notched icon"></i>
              <i class="big cloud upload icon"></i>
            </i>
            </label>
          <input type="file" id="fileInput" style="display:none"/>
          <br><br>
          <p style="font-size:72px;">Choose File...</p>

        {{/with}}
      </div>
    </div>

    </div>

  <!-- <div>
    <h3>{{username}}</h3>
  </div> -->
    <!-- {{> uploadForm}} -->

    <!-- {{> uploadedFiles}} -->

    <!-- {{> file}} -->
</template>
