<template name="postItem">

  <div class="ui styled accordion">
    <div class="title active">
      <i class="dropdown icon"></i>
      {{firstName}} {{lastName}}
    </div>
    <div class="content active">

      <div class="ui items">
        <div class="item">

          <div class="image">
            <img src="https://reg2.src.ku.ac.th/picnisit/{{stuId}}.jpg">
          </div>

          <div class="content">
            <a class="header" href="#" id="setCenter">{{stuId}}</a>
            <div class="ui list">
              <div class="item"> Name : {{firstName}} {{lastName}} </div>
              <div class="item"> Blood Type : {{bloodType}} </div>
              <div class="item"> Faculty : {{faculty}} </div>
              <div class="item"> Major : {{major}} </div>
              <div class="item"> Emergency Cell : {{emerCell}}</div>
            </div>

            <!-- <div class="ui checkbox left floated">
              <input type="checkbox" name="example">
              <label>Received</label>
            </div> -->


            <div class="ui checked checkbox  {{checked}}" id="check">
              <input type="checkbox" >
              <label>Make my profile visible</label>
            </div>


          </div>
          <!-- end content-->
        </div>

      </div>
      <!-- end item -->

      <button class="ui  olive right floated basic button" id="remove" >
        <i class="remove icon"></i>
        Finished
      </button>

      <button class="ui  olive  right floated basic button" id="info">
        <i class="remove icon"></i>
        Info
      </button>




      <!-- <button class="ui right floated basic button" >
        <i class="remove icon"></i>
        Recive
      </button> -->

      <div class="ui selection dropdown" id="dropNearby">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Hospital</div>
        <div class="menu" id="{{nearby}}">
          <!-- <div class="item" data-value="1">Male</div>
          <div class="item" data-value="0">Female</div> -->
        </div>
      </div>

      <!-- <div id="listing">
       <table id="resultsTable">
         <tbody id="{{nearby}}">
         </tbody>
       </table>
     </div> -->

    </div>
  </div>

</template>
