<template name="postPage">
  <div class="post-page page">
    <div class="ui segment">
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui card">
            <div class="image">
              <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t34.0-0/s261x260/21175095_1456198087783109_862137171_n.jpg?oh=f1a9bd356141a6fad0b778391865d0d8&oe=59F865A8">
            </div>
            <div class="content">
              <a class="header">{{firstName}} {{lastName}}</a>
              <div class="ui list">
                <div class="item"> Name : {{firstName}} {{lastName}} </div>
                <div class="item"> Blood Type : {{bloodType}} </div>
                <div class="item"> Faculty : {{faculty}} </div>
                <div class="item"> Major : {{major}} </div>
                <div class="item"> Emergency Cell : {{emerCell}}</div>
              </div>
            </div>

          </div>
        </div>

        <!-- <div class="ui vertical divider">
          and
        </div> -->

        <div class="twelve wide column">

          <!-- show sound -->
          {{#each sound in audioFile.each}}
            <audio height="auto" controls preload="auto" autoplay>
              <source src="{{sound.link}}" type="{{sound.type}}" />
            </audio>
              <hr>
          {{/each}}

          <!-- show image -->
          {{#each image in imageFile.each}}
            <img src="{{image.link}}" alt="{{image.name}}" />
            <hr>
          {{/each}}

          <!-- show video -->
          {{#each video in videoFile.each}}
          <video width="320" height="240" controls>
            <source src="{{video.link}}" type="video/mp4">
          </video>
          {{/each}}
        </div>

      </div>
    </div>

  </div>
</template>
<!-- แสดงผลของโพสที่ login แล้วโพสเพิ่ม -->
