<template name="postPage">
  <div class="transitions-content" style="overflow :hidden;">
    <div class="ui segment" style="height:1000px; overflow-y:auto; white-space:nowrap;">
      <div class="ui grid">
        <div class="sixteen wide column"></div>
        <div class="four wide column">

          <div class="ui card" >
            <div class="image" style="margin-top: 0cm;">
              <img src="https://reg2.src.ku.ac.th/picnisit/{{stuId}}.jpg">
            </div>
            <div class="content">
              <a class="header">{{firstName}} {{lastName}}</a>
              <div class="ui list">
                <div class="item"> Name : {{firstName}} {{lastName}} </div>
                <div class="item"> Blood Type : {{bloodType}} </div>
                <div class="item"> Faculty : {{faculty}} </div>
                <div class="item"> Major : {{major}} </div>
                <div class="item"> Emergency Cell : {{emerCell}}</div>
              </div>
            </div>

          </div>
        </div>

        <!-- <div class="ui vertical divider">
          and
        </div> -->

        <div class="twelve wide column">


          <div class="ui three doubling cards" >
          {{#each sound in audioFile.each}}
            <div class="ui link card">
                <audio class="center float" height="auto" controls preload="auto" autoplay>
                  <source src="{{sound.link}}" type="{{sound.type}}" />
                </audio>
            </div>

          {{/each}}
        </div>
        <br>
        <hr>

          <!-- show image -->

          <div class="ui three doubling cards" >

            {{#each image in imageFile.each}}
            <div class="ui link card" id="showImage">
              <div class="ui image" style="margin-top: 0cm;">
                <a target ="_blank" href="{{image.link}}">
                  <img src="{{image.link}}" />
                </a>
              </div>
            </div>
            {{/each}}

          </div>


          <div class="ui modal">
            <div class="image content" >
              <div id="carousel">
                {{#each image in imageFile.each}}
                  <div ><img src="{{image.link}}" /></div>
                {{/each}}
              </div>

            </div>
          </div>

        <br>
        <hr>
        <!-- end Image -->

          <!-- show video -->

          <div class="ui three doubling cards" >
            {{#each video in videoFile.each}}
              <div class="ui link card">
                  <video class="center float" width="346.49" height="216.55" controls >
                    <source src="{{video.link}}" type="video/mp4">
                  </video>
              </div>

            {{/each}}

          </div>

        </div>

      </div>
    </div>
  </div>


</template>
