<template name="postsList">
    <div class="transitions-content" style="overflow :hidden;">


      <h1 class="ui center aligned segment">HISTORY ACCIDENT</h1>

          <div class="ui raised segment" style="overflow:auto; height: 500px;">
            <table class="ui center aligned blue table">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Faculty</th>
                  <th>Button</th>
                </tr>
              </thead>
              <!-- <tbody> -->
                {{#each posts}}
                  {{> postuser}}
                {{/each}}
              <!-- </tbody> -->
            </table>
            </div>
        </div>

</template>
<!-- โพสของเพิ่มที่หน้านี้ -->
