<template name="postuser">

            <tbody>
              <tr>
                <td>{{stuId}}</td>
                <td>{{firstName}} {{lastName}}</td>
                <td>{{faculty}}</td>
                <td>
                  <button  class="ui blue animated submit button" id="check">
                      <div class="visible content">Check</div>
                      <div class="hidden content">
                        <i class="down arrow icon"></i>
                      </div>
                  </button>
                </td>
              </tr>
            </tbody>

</template>
