<template name="header">
  <div class="ui inverted segment">
    <div class="ui right menu inverted secondary pointing">
      <div class="header left item">
        Emergency System
      </div>

      <a class="item {{isCurrentPage 'mapMain'}}" href="{{pathFor 'mapMain'}}">
        Map
      </a>

      {{#if currentUser}}
        <a class="item {{isCurrentPage 'postSubmit'}}" href="{{pathFor 'postSubmit'}}">Submit Post</a>
      {{/if}}
 
      {{#if currentUser}}
        <a class="item logout" href="#">logout</a>
      {{/if}}

  
        <a  class="item" href="#">{{admin}}</a>
      
       

    </div>
  </div>

</template>
