<template name="header">
  <div class="ui inverted segment">
    <div class="ui right menu inverted secondary pointing">
      <div class="header left item">
        Emergency System
      </div>

      <a class="item {{isCurrentPage 'mapMain'}}" href="{{pathFor 'mapMain'}}" data-transition-out="slideFadeLeftOut" data-transition-in="slideFadeLeftIn" >Map</a>

      {{#if currentUser}}
        <a class="item {{isCurrentPage 'postSubmit'}}" href="{{pathFor 'postSubmit'}}">Submit Post</a>
      {{/if}}
      <a class="item {{isCurrentPage 'postsList'}}" href="{{pathFor 'postsList'}}" data-transition-out="slideFadeRightOut" data-transition-in="slideFadeRightIn" >History</a>
      <!-- <a class="item {{isCurrentPage 'postsList'}}" href="{{pathFor 'postsList'}}">History</a> -->

      {{#if currentUser}}
        <a class="item logout" href="#">logout</a>
      {{/if}}


        <a  class="item" href="#">{{admin}}</a>



    </div>
  </div>

</template>
